@model Shopifex.Models.Order

<h2>Usuń Zamówienie #@Model.Id</h2>

<p>Czy na pewno chcesz usunąć zamówienie o numerze #@Model.Id?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>